[submodule "object_functions/Cores-VeeR-EL2"]
	path = object_functions/Cores-VeeR-EL2
	url = https://github.com/chipsalliance/Cores-VeeR-EL2.git
[submodule "object_functions/scr1"]
	path = object_functions/scr1
	url = https://github.com/syntacore/scr1.git
[submodule "object_functions/rocket-chip"]
	path = object_functions/rocket-chip
	url = https://github.com/chipsalliance/rocket-chip.git
[submodule "object_functions/NutShell"]
	path = object_functions/NutShell
	url = https://github.com/OSCPU/NutShell.git
